<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <a href="/">USER INFO</a>
    <h3>list</h3>
    <a href="/users/new">Add USER</a>
    <a href="/">Back</a>
  </body>
</html>
