<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h2>User Form</h2>
    <form action="/users" method="POST">
      <input type="text" name="name" placeholder="Enter you name" />
      <input type="email" name="email" placeholder="Enter you Email" />
      <input type="number" name="age" placeholder="Enter you age" />
      <input type="text" name="bio" placeholder="bio" />
      <input type="submit" value="Add User" />
    </form>
    <a href="/">Back</a>
  </body>
</html>
