<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">USER INFO</a>
    <div class="list">
      <p>name</p>
      <p>Email</p>
      <p>age</p>
      <p>bio</p>
    </div>

    <a href="/users/new">Add User</a>
    <div>
      <a href="">Edit</a>
    </div>
  </body>
</html>
