<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="form">
      <h1>Form</h1>
      <form action="/books" method="POST">
        <input type="text" name="title" placeholder="title" />
        <input type="text" name="description" placeholder="description" />
        <input type="number" name="price" placeholder="price" />
        <input type="text" name="author" placeholder="Author" />
        <input type="submit" value="Add Books" />
      </form>
    </div>

    <div>
      <a href="/books">back</a>
    </div>
  </body>
</html>
