<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Users</title>
  </head>
  <body>
    <h1>Add New User</h1>
    <form action="/users/<%= user.id %>" method="POST">
      <input
        type="text"
        name="name"
        placeholder="Name"
        value="<%= user.name %>"
      />
      <input
        type="email"
        name="email"
        placeholder="Email"
        value="<%= user.email %>"
      />
      <input
        type="number"
        name="age"
        placeholder="Age"
        value="<%= user.age %>"
      />
      <input type="submit" value="Update user" />
    </form>
  </body>
</html>
